@import 'bootstrap-sprockets';
@import 'bootstrap';

.box{
  margin-top: 3%;
  width: 60%;
}

.block{
  margin: 0 auto 30px auto;
}

.title{
  font-size: 20px;
  line-height: 50px;
}

.btn-new{
  margin-left: 8px;
}

div:nth-child(odd) .btn-space{
  margin-right: 7px;
  color: #272727;
  border-color: #fff;
}

div:nth-child(even) .btn-space{
  margin-right: 7px;
  color: #F0F0F0;
  background-color: #9D9D9D;
  border-color: #9D9D9D;
}

.block:nth-child(odd){
  background-color: #272727;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.block:nth-child(even){
  background-color: #F0F0F0;
  color: #7B7B7B;
  padding: 20px;
  border-radius: 15px;
}

.content{
  font-size: 15px;
  width: 300px;
  margin: 0 auto;
  line-height: 30px;
  padding: 0;
}

ul{
  font-size: 13px;
  list-style: none;
  color: red;
  padding: 0;
}

p{
  display: inline-block;
  margin-right: 10px;
}